.view-projects{
  width: calc(100% - 500px);
  height: 100%;
  padding-left: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  .slider{
    visibility: inherit !important;
    
    .slide-title{
      font-weight: 600;
      font-size: 28px;
    }

    p{
      color: #FFFFFF;
      font-family: 'Dosis';
      font-size: 22px;
    }
  }


  .slide-pagination{
    color: #FFFFFF;

  }

  .slider-clear-btn{
    background: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;

    &:focus{
      outline: none;
    }

    &::-moz-focus-inner {
      border: 0;
    }

    .typcn {
      color: #FFFFFF;
      font-size: 22px;
    }
  }

  .project-slider-container{
    height: 80%;
    width: 80%;
  }

  .img-container{
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

}
