.view-about{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .about-container{
    width: 860px;
    position: relative;
  }

  .about-container-divider{
    width: 50%;
    display: inline-block;
    float: left;
    position: relative;
  }

  .about-details {
    padding: 20px;
    border-radius: 5px;
    // position: absolute;
    font-size: 28px;
    color: #FFF;
    width: 100%;
    // top: 350px;
    // right: -200px;
    font-family: 'Dosis';
    display: inline-block;
    margin: 0px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translate3d(-10px, 0px, 0px) rotateZ(2deg);
  }

  .about-badges{
    font-family: 'Dosis';
    padding-left: 20px;
    font-size: 22px;
    margin-top: 50px;
    width: 90%;
    display: inline-block;
    word-wrap: break-word;
    transform: translate3d(-30px, 0px, 0px) rotateZ(-1deg);
  }

  .about-image{
    height: 600px;
    width: 400px;
    background-position: top center;
    background-size: cover;
    border-radius: 15px;
    border: solid #FFFFFF 10px;
    @media (max-width: 1500px) {
      height: 600px;
      width: 400px;
    }
  }
}

@keyframes profile-pic {
  from {
    transform: translate3d(-50px, 0px, 0px) rotateZ(0deg);
  }

  to {
    transform: translate3d(-10px, 0px, 0px) rotateZ(-3deg);
  }
}

.animate-profile-pic{
  animation-name: profile-pic;
  animation-duration: 40s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}




@keyframes about-details {
  from {
    transform: translate3d(-10px, 0px, 0px) rotateZ(1deg);
  }

  to {
    transform: translate3d(70px, 0px, 0px) rotateZ(3deg);
  }
}

.animate-about-details{
  animation-name: about-details;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes about-badges {
  from {
    transform: translate3d(-30px, 0px, 0px) rotateZ(-1deg);
  }

  to {
    transform: translate3d(70px, 0px, 0px) rotateZ(1deg);
  }
}

.animate-about-badges{
  animation-name: about-badges;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.badges{
  margin-left: 5px;
  margin-bottom: 5px;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  float: left;
  width: auto;  
  background-color: rgba(255, 255, 255, 0.2);
}
