@font-face {
    font-family: 'monument-valley';
    src: url('monument_valley_1.2-regular-webfont.woff2') format('woff2'),
         url('monument_valley_1.2-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}