.sidebar{
  height: 100%;
  width: 100%;

  ul{
    margin: 0px;
    display: block;
    position: absolute;
    padding: 0px;
    width: 100%;
    transition: top 300ms;

    li{
      padding-left: 40px;
      list-style: none;
      font-size: 48px;
      letter-spacing: 7px;
      font-family: 'ailerons';
      height: 80px;
      line-height: 80px;
      text-transform: uppercase;
      @media (max-width: 1500px) {
        font-size: 36px;
      }

      a{
        cursor: pointer;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
      }

      &.active{
        font-size: 86px;
        height: 100px;
        line-height: 100px;
        @media (max-width: 1500px) {
          font-size: 64px;
        }
      }
    }
  }
}