@import './fonts/ailerons/stylesheet.css';
@import './fonts/dosis/stylesheet.css';
@import './fonts/marck-script/stylesheet.css';

@import '~typicons.font/src/font/typicons.css';

html, body, #app{
  height: 100%;
  padding: 0px;
  border: 0px;
  margin: 0px;
  overflow: hidden;
}

body{
  font-family: 'Dosis';
  color: #FFFFFF;
  font-size: 22px;
}
